Client/node_modules
Server/.vs/
Client/app/*.js
Client/app/*.js.map
Client/app/components/**/*.js
Client/app/components/**/*.js.map
Server/FoodChooser/bin
Server/FoodChooser/obj
Server/packages/
Server/FoodChooser/Properties/PublishProfiles/
Client/typings
.dist
.temp
Client/app/shared/services/*.js
Client/app/shared/services/*.js.map
Client/app/models/*.js.map
Client/app/models/*.js
Client/app/shared/app.constants.js
Client/app/shared/app.constants.js.map
Client/app/decorators/needsAuthentication.js
Client/app/decorators/needsAuthentication.js.map
Client/npm-debug.log
Client/aot/
Client/src/.aot
Client/src/app/**/*.js
Client/src/app/**/*.js.map
