html{
	/* This image will be displayed fullscreen */
	background:url('../img/background.jpg') no-repeat center center;

	/* Ensure the html element always takes up the full height of the browser window */
	min-height:100%;

	/* The Magic */
	background-size:cover;
}

body {
    margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    background: transparent;
	/* Workaround for some mobile browsers */
	min-height:100%;
	  padding-top: 40px;
  padding-bottom: 40px;
}

.centered {
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}

h1 {
  color: white; 
  font-family: Arial, Helvetica, sans-serif;   
  font-size: 250%;
}

.row {
    color: whitesmoke;
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
    color: whitesmoke;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
