<!-- Page Content -->
<div class="container">

    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                {{currentFoodList?.Name}}&nbsp;<small><button (click)="deleteList()" class="btn-link small">Delete</button></small>
            </h1>
        </div>
    </div>
    <!-- /.row -->


    <div class="row">
        <div class="col-lg-12">
            <form role="form" (ngSubmit)="addOrUpdateFood()">
                <div class="form-group">
                    <input type="text" class="form-control input-lg" id="exampleInputEmail1" placeholder="Add new food" [(ngModel)]="currentFood.ItemName">
                </div>
                <button type="submit" style="display: none;"></button>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1>
                    <small class="pull-right">{{currentFoods?.length}}</small> Foods
                    <small>
                        <button *ngIf="currentFoods?.length > 0"
                                (click)="showRandomFoodFromList()" 
                                type="submit"
                                class="btn btn-link" style="color:white;">
                            Get random from list
                        </button>
                    </small>
                </h1>
            </div>

            <!--<div class="row">
                <div class="col-md-4 portfolio-item" *ngFor="let food of currentFoods; let i=index">
                    <div style="height:200px;">
                        <a [href]="" (click)="takePhoto(food)">
                            <img *ngIf="food.ImageString" class="img-responsive" [src]="food.ImageString" height="200">
                            <img *ngIf="!food.ImageString" class="img-responsive" src="http://placehold.it/390x290" alt="">
                        </a>
                    </div>
                    <h4>{{food.ItemName}}</h4>
                    <h5>
                        <small id="test">{{food.Created | date:'medium'}}
                            <button class="btn-link" (click)="setToUpdate(food)" style="color:white;">Edit</button>
                            <button class="btn-link" (click)="deleteFood(food.Id)" style="color: white;">Delete</button>
                            <button class="btn-link" *ngIf="!food.IsPublic" (click)="togglePublic(food)" style="color: white;">Publish</button>
                            <button class="btn-link" *ngIf="food.IsPublic" (click)="togglePublic(food)" style="color:white;">Unpublish</button>
                        </small>
                    </h5>
                    <br/>
                    <br/>
                </div>
            </div>-->
            <div class='list-group gallery'>

                <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3' *ngFor="let food of currentFoods; let i=index">
                    <a class="thumbnail" rel="ligthbox" [href]="" (click)="takePhoto(food)">
                        <img *ngIf="food.ImageString" class="img-responsive" [src]="food.ImageString" height="200">
                        <img *ngIf="!food.ImageString" class="img-responsive" alt="" src="http://placehold.it/640x480.png" />
                    </a>
                    <h4>{{food.ItemName}}</h4>
                    <h5>
                        <small id="test">{{food.Created | date:'shortDate'}}
                            <button class="btn-link" (click)="setToUpdate(food)" style="color:white;">Edit</button>
                            <button class="btn-link" (click)="deleteFood(food.Id)" style="color: white;">Delete</button>
                            <button class="btn-link" *ngIf="!food.IsPublic" (click)="togglePublic(food)" style="color: white;">Publish</button>
                            <button class="btn-link" *ngIf="food.IsPublic" (click)="togglePublic(food)" style="color:white;">Unpublish</button>
                        </small>
                    </h5>
                    <!-- text-right / end -->

                </div>
            </div>
            <!-- /.row -->
        </div>
    </div>

    <!-- /.row -->
</div>
<!-- /.container -->