<div class="container">
    <div class="starter-template">
        <!-- Page Content -->
        <div class="container">
            <div class="starter-template">
                <h1 *ngIf="randomFood">{{randomFood?.ItemName}}</h1>
                <h1 *ngIf="errorMessage">{{errorMessage}}</h1>
                <div *ngIf="authenticationService.isAuthenticated && errorMessage">
                    <br/>
                    <a [routerLink]="['/foodLists']" class="btn btn-lg btn-primary">
                        Go to Foodlists and create awesome food
                    </a>
                </div>

                <h1 *ngIf="!randomFood && !errorMessage">Getting your food suggestions<br />Please wait...</h1>

                <button *ngIf="randomFood" type="button" class="btn btn-link" (click)="getRandomFood()">Get new suggestion</button>
                <button *ngIf="randomFood" type="button" class="btn btn-link" (click)="getRecipesWithGoogle()">Google for recipes</button>
                <button *ngIf="randomFood" type="button" class="btn btn-link" (click)="getRecipesWithBing()">Bing for recipes</button>
                <br/>
                <a *ngIf="!authenticationService.isAuthenticated" [routerLink]="['/login']" class="btn btn-lg btn-primary">Sign in</a>
                <br/><br/>
                <a *ngIf="!authenticationService.isAuthenticated" [routerLink]="['/register']" class="btn btn-lg btn-primary">Register</a>
            </div>
        </div>
        <!-- /.container -->
    </div>

</div>
<!-- /.container -->