<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
            aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" [routerLink]="['/home']">Foodchooser Demo</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li *ngIf="authenticationService.isAuthenticated">
                    <a [routerLink]="['/foodlists']"><i class="fa fa-dashboard fa-fw"></i> Food</a>
                </li>
                <li>
                    <a [routerLink]="['/about']"><i class="fa fa-dashboard fa-fw"></i> About</a>
                </li>
                <li *ngIf="!authenticationService.isAuthenticated">
                    <a [routerLink]="['/account/login']"><i class="fa fa-dashboard fa-fw"></i> Login/Register</a>
                </li>
                <li *ngIf="authenticationService.isAuthenticated">
                    <a href="#" class="respond-click" (click)="logout()">Logout</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>
