<!-- Page Content -->
<div class="container">
    <div class="jumbotron">
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Foodlists
                    <small>See all your food lists</small>
                </h1>
            </div>
        </div>

        <foodListForm-component (onFoodListAdded)="addFood($event)"></foodListForm-component>
        <foodlists-component [allLists]="lists"></foodlists-component>
    </div>
</div>
<!-- /.container -->