<!-- Page Content -->
<div class="container">
    <div class="starter-template">
        <div style="color: whitesmoke">
            Small application for demo purposes.<br /><br />
            This application helps you to get suggestions what to cook
            if you have no idea. You can register and login, manage your
            food suggestions in lists, publish and unpublish them. If public
            they will be randomly shown on the startpage also to unregistered
            users to get some inspiration.<br />
            This page is NOT about giving you recipes because the Internet if full with
            sites to get recipes from. This is just to get inspirations what to bring on your
            plates.<br />
            This application was made for demo purposes and will not send you any
            newsletters or use your data for anything else.<br /><br />
            Made with:<br /><br />
            <a href="http://www.typescriptlang.org/">Typescript</a><br />
            <a href="https://angular.io/">Angular 2</a><br />
            <a href="http://automapper.org/">Automapper</a><br />
            <a href="http://getbootstrap.com/">Bootstrap</a><br />
            <a href="http://www.asp.net/web-api"> WebAPI 2.2</a><br />
            <a href="http://gulpjs.com/"> Gulp.js</a><br />
            <a href="https://www.npmjs.com/"> NPM </a>
            <br /><br />
            Hosted on <a href="https://azure.microsoft.com/de-de/"> Azure</a><br /><br /><br />
            <a href="http://offering.solutions">Offering.Solutions</a> - <a href="http://fabian-gosebrink.com">Fabian Gosebrink</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->
