<!-- Team Members Row -->
<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Your Lists <small>{{allLists?.length}}</small></h2>
    </div>

    <div class="col-lg-12">
        <!--<ul class="list-group">
            <a *ngFor="let item of allLists; let i=index" [routerLink]="['/foodLists', item.Id]">
                <li class="list-group-item">{{item?.Name}}</li>
            </a>
        </ul>-->

        <div *ngFor="let item of allLists; let i=index">
            <h3><a [routerLink]="['/foodLists', item.FoodListItem.Id]">{{item.FoodListItem?.Name}}</a></h3>
            <p><span class="glyphicon glyphicon-time"></span> Posted on August 28, 2013 at 10:00 PM</p>
            <a [routerLink]="['/foodLists', item.FoodListItem.Id]">
                <img *ngIf="item.ImageString" class="img-responsive" src="" alt="" 
                [ngStyle]="{'background':'#eee url({{item.ImageString}}) center center'}">
                <img *ngIf="!item.ImageString"  class="img-responsive" src="http://placehold.it/100x900" alt="" style="width:100%;">
            </a>
            <p></p>
            <hr>
        </div>
    </div>


</div>